@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;400;700&display=swap');

/* Background */

.bg {
    background-color: #f4f4f4;
    font-family: 'Libre Franklin', sans-serif;
    height: 100%;
}


/* Navbar */

.nav-bg {
    background-color: #fabe28;
}

.nav-bg a {
    color: #1D1115;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-bg a:hover {
    color: #6F2D11;
}

.nav-button {
    color: #6F2D11;
}

.navbar-toggler {
    outline: none;
}

.logged-in {
    color: #1D1115;
    margin: 8px 2px;
}


/* Queryset Display Styles */

.q-list a {
    color: black;
    font-size: 20px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.q-list a:hover {
    color: #0189d8;
    text-decoration: none;
}